<footer class="page-footer #1b5e20 green darken-4">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Contacto</h5>
              <p class="grey-text text-lighten-4">SENA Galán - Armenia Q</p>
              <p class="grey-text text-lighten-4">3166848351</p>
            </div>
          </div>
        </div>
        <div class="footer-copyright center">
          <div class="container">
          © 2019 Copyright ADOPCION
          </div>
        </div>
      </footer>